/* PANEL */

.panel-nav {
  color: $scorpion;
  a {
    color: $scorpion;
    display: block;
    padding: 5px;
    &:hover, &:focus {
      color: $primary;
      background: $wild-sand;
    }
  }
}
