---
layout: default
---
		<section class="section">
			<div class="container">
				<h1 class="text-center mb-lg">Query and Visualize {{page.name}}<br class="hidden-xs">in Redash in just a few moments</h1>
				<div class="from-to-holder">
					<div class="from-to-holder__line"></div>
					<div class="from-to-holder__item">
						<img src="{{page.logo}}" class="from-to-holder__logo" alt="">
						<p class="from-to-holder__title">{{page.name}}</p>
					</div><!-- from-to-holder__item -->

					<div class="from-to-holder__item">
						<img src="/assets/images/temp/redash-small.png" class="from-to-holder__logo" alt="">
						<p class="from-to-holder__title">Redash</p>
					</div><!-- from-to-holder__item -->
				</div><!-- from-to-holder -->
			</div><!-- container -->
		</section><!-- section -->

		<section class="section section--pt-sm bg-mutted">
			<div class="container">
				<div class="row">
					<div class="col-md-6 push-sm-down">
						<img src="/assets/images/temp/browser1.png" class="img-responsive center-block img-rounded img--has-shadow" alt="">
					</div><!-- col -->

					<div class="col-md-6">
						<p><b>Query</b> {{page.name}}</span></span> using its natural syntax, enjoy live auto-complete and explore your {{page.name}}</span></span> schema easily in Redash's cloud-based query editor</p>
						<p><b>Get results, fast</b> - shorter on-demand running times, all query results are cached, so you don't have to wait for the same result set every time</p>
						<p><b>Schedule</b> queries to run periodically to view the latest data without running again and again manually.</p>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- section -->


		<section class="section section--pt-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 push-sm-down">
						<img src="/assets/images/temp/browser2.png" class="img-responsive center-block img-rounded img--has-shadow" alt="">
					</div><!-- col -->

					<div class="col-md-6">
						<p><b>Visualize</b> your {{page.name}}</span></span> data and gather it into thematic dashboards from multiple sources, share the story your data tells with your team or extermal partners.</p>
						<p><span class="underline">Supported visualizations</span>: chart (area, bar, line, pie, scatter), map, cohort, boxplot, pivot, sankey, sunburst and word cloud. More are on the way.</p>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- section -->


		<section class="section section--pt-sm bg-mutted">
			<div class="container">
				<div class="row">
					<div class="col-md-6 push-sm-down">
						<img src="/assets/images/temp/browser3.png" class="img-responsive center-block img-rounded img--has-shadow" alt="">
					</div><!-- col -->

					<div class="col-md-6">
						<p><b>Share</b> insights from {{page.name}}</span></span> via link or Slack or embed them wherever you need to make your organization truly data driven.</p>
						<p><b>Integrate</b> Redash with external services and <b>create alerts</b> to be alway in the know.</p>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- section -->

    {% include get_started.html %}
