---
layout: default
---
		<section class="section">
			<div class="container">
				<h1 class="text-center mb-lg">Query and Visualize {{page.name}}<br class="hidden-xs">in Redash in just a few moments</h1>
				<div class="from-to-holder">
					<div class="from-to-holder__line"></div>
					<div class="from-to-holder__item">
						<img src="{{page.logo}}" class="from-to-holder__logo" alt="">
						<p class="from-to-holder__title">{{page.name}}</p>
					</div><!-- from-to-holder__item -->

					<div class="from-to-holder__item">
						<img src="/assets/images/temp/redash-small.png" class="from-to-holder__logo" alt="">
						<p class="from-to-holder__title">Redash</p>
					</div><!-- from-to-holder__item -->
				</div><!-- from-to-holder -->
			</div><!-- container -->
		</section><!-- section -->

		<section class="section section--pt-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 push-sm-down">
						<img src="/assets/images/elements/query-editor.png" class="img-responsive center-block img-rounded img--has-shadow" alt="">
					</div><!-- col -->

					<div class="col-md-6">
						<ul class="highlight-ul m-t-25">
							<li><b>Query {{page.name}}</b> using its natural syntax, enjoy live auto-complete and explore your {{page.name}} schema easily in Redash's cloud-based query editor.</li>
							<li><b>Get results, fast</b> - shorter on-demand running times, all query results are cached, so you don't have to wait for the same result set every time.</li>
							<li><b>Schedule</b> queries to run periodically to view the latest data without running again and again manually.</li>
						</ul>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- section -->


		<section class="section section--pt-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 push-sm-down">
						<img src="/assets/images/elements/dashboard.png" class="img-responsive center-block img-rounded img--has-shadow" alt="">
					</div><!-- col -->

					<div class="col-md-6">
						<ul class="highlight-ul m-t-50">
							<li><b>Visualize your {{page.name}}</b> data and gather it into thematic dashboards from multiple sources, share the story your data tells with your team or extermal partners.</p></li>
							<li>
								<b>Supported visualizations</b>:
								<span class="label label-primary">Charts: Line, Bar, Area, Pie, Scatter</span>
								<span class="label label-primary">Boxplot</span>
								<span class="label label-primary">Cohort</span>
								<span class="label label-primary">Sunburst</span>
								<span class="label label-primary">Word Cloud</span>
								<span class="label label-primary">Sankey</span>
								<span class="label label-primary">Map</span>
								<span class="label label-primary">Counter</span>
								<span class="label label-primary">Pivot Table</span>
								..and more are on the way.
							</li>
						</ul>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- section -->


		<section class="section section--pt-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 push-sm-down">
						<img src="/assets/images/elements/slack-redash.png" class="img-responsive center-block img-rounded img--has-shadow" alt="Slack chat demo">
					</div><!-- col -->

					<div class="col-md-6">
						<ul class="highlight-ul m-t-50">
							<li><b>Share insights from {{page.name}}</b> via link or Slack or embed them wherever you need to make your organization truly data driven.</li>
							<li><b>Integrate</b> Redash with external services and <b>create alerts</b> to be alway in the know.</li>
						</ul>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- section -->

    {% include get_started.html %}
