---
description: Use Redash to connect to any data source (Redshift, BigQuery, MySQL, PostgreSQL, MongoDB and many others), query, visualize and share your data to make your company data driven.
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }} | Redash</title>
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="Query, SQL, Visualize, Data, Insights, Dashboard, Alert, Alerts, web based sql client, integration, integrations, Amazong Redshift, BigQuery, PotsgreSQL, MySQL, TreasureData, MS SQL Server, MongoDB, ElasticSearch, Hive, Google Spreadsheets, Impala, InfluxDB, Presto, ScyllaDB, Cassandra, Amazon DynamoDB, Python, Vertica, Graphite, Stitch, URL">
    <meta name="og:image" content="http://redash.io/assets/images/logo.png">
    <meta name="og:logo" content="http://redash.io/assets/images/logo.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">

  	<meta name="format-detection" content="telephone=no">
  	<link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>

<body>
    {% include header.html %}

  	<main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script>
    {% contentblock js no-convert %}
    </script>

    <!-- build:js /assets/javascript/vendors.js -->
  	<script src="/assets/vendors/jquery/dist/jquery.min.js"></script>
  	<script src="/assets/vendors/slick-carousel/slick/slick.min.js"></script>
    <script src="/assets/vendors/sticky-kit/jquery.sticky-kit.min.js"></script>
  	<script src="/assets/vendors/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <!-- endbuild -->

    {% contentblock external-scripts no-convert %}

    <!-- build:js /assets/javascript/main.js -->
  	<script src="/assets/javascript/jquery.ajaxchimp.js"></script>
  	<script src="/assets/javascript/scripts.js"></script>
  	<script src="/assets/javascript/analytics.js"></script>
    {% contentblock scripts no-convert %}
    <!-- endbuild -->

</body>
</html>
