---
layout: docs
---

<section class="section section--small bg-mutted">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/help/">Home</a></li>
      <li>{{site.data.usage_collections[page.parent_category]}}</li>
      <li class="active">{{ page.title }}</li>
    </ol>

    <div class="row">
      <div class="col-md-8 col-sm-7 push-xs-down">
        <h1 class="h2 mt-0">{{ page.title }}</h1>
      </div><!-- col -->

      <div class="col-md-4 col-sm-5">
        <form action="">
          <div class="form-group form-group--search">
            <input class="form-control input-lg form-control--white search-box" type="text" placeholder="Search for...">
          </div><!-- form-group -->
        </form>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->


<section class="section">
  <div class="container search-results hidden">
  </div>

  <div class="container content docs">
    <div class="row row--flex">
      <div class="col-md-8 col-sm-7 push-xs-down">
        {{page.content}}

        <ul class="topics__list list-unstyled">
          {% assign articles = (site.usage | sort: 'order', 'last') %}
          {% for article in articles %}
          {% if article.categories contains page.category and article.layout != 'docs-category' and article.parent_category == page.parent_category %}
          <li class="topics__list__item">
            <a href="{{article.url}}" class="topics__list__link">
              <h4 class="topics__list__title">{{article.title}}</h4>
              <p>{{article.description}}</p>
            </a>
          </li><!-- topics__list__item -->
          {% endif %}
          {% endfor %}
        </ul><!-- topics__list -->
      </div><!-- col -->

      <div class="col-md-4 col-sm-5">
        {% if page.toc %}
        <div class="sticky-in-parent">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="text-uppercase mt-0"><b>QUICK NAV</b></p>
              <hr class="hr--sm">
              {{ content | toc_only }}
            </div><!-- panel-body -->
          </div><!-- panel -->
        </div><!-- sticky-in-parent -->
        {% else %}
        <div class="sticky-in-parent">
          <div class="alert alert-brand text-center" role="alert">
            <h5 class="alert__title alert__title--no-mb mb-20">Help us improve Redash docs</h5>
            <a href="#" class="btn btn-brand">Contribute</a>
          </div><!-- alert -->
        </div><!-- sticky-in-parent -->
        {% endif %}
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

