{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": [2, {"argsIgnorePattern": "^_"}],
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"
  },
  "globals": {
    "window": true,
    "document": true,
    "alert": true,
    "analytics": true
  }
}
