/* NAVBAR */

$navbar-bg: $hoki;
$navbar-color: $black;
$navbar-height: 68px;
$navbar-fs: 13px;

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  min-height: $navbar-height;
  background: #fff;

  &.navbar-without-shadow {
    box-shadow: none;
  }
  &.navbar-has-shadow {
    box-shadow: 0px 0px 10px -3px rgba($black, .25) !important;
  }
}

.navbar-nav {
  &.navbar-right {
    margin-right: 0;
  }
  > li {
    &.active {
      > a {

        &:hover, &:focus {
          background: transparent;

        }
      }
    }
    > a {
      font-size: $navbar-fs;
      color: $navbar-color;
      @include respond-to(xs-min) {
        padding: 24px 25px;
      }
      &:hover, &:focus {
        background: transparent;
      }
    }
  }
}

.navbar-btn {
  color: white !important;

  @include respond-to(xs-min) {
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 10px;
  }
  @include respond-to(xs) {
    margin-left: 15px;
  }
}

.navbar-brand {
  width: 130px;
  height: auto;
  padding: 7.5px 15px;
}

.navbar-brand__img {
  width: 100%;
}

.navbar-toggle {
  margin-top: 17px;
  margin-bottom: 17px;
  .icon-bar {
    background: $white;
  }
}
