/* BUTTONS */

.btn {
  font-size: 16px;
  padding: 8px 16px;
  min-height: 34px;
  font-family: $font-regular;
  &.btn-danger {
    background: $danger;
    border-color: $danger;
    &:hover, &:focus {
      background-color: darken($danger, 7%);
      border-color: darken($danger, 10%);
    }
  }
  &.btn-danger-ghost {
    background: transparent;
    border-color: $danger;
    color: $danger;
    &:hover, &:focus {
      background-color: $danger;
      border-color: $danger;
      color: white;
    }
  }
  &.btn-primary {
    background: $primary;
    border-color: $primary;
    &:hover, &:focus {
      background-color: lighten($primary, 10%);
      border-color: lighten($primary, 10%);
    }
  }
  &.btn-long {
    padding-left: 44px;
    padding-right: 44px;
  }
  &.navbar-btn {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &.btn-small {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &+.btn {
    margin-left: 10px;
  }
  &.btn-input-group {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
