div.docs img {
    padding: 25px;
    background-color: #f6f7f9;
    border-radius: $border-radius;

    @include img-responsive;
    @include center-block;
}

div.docs table {
	@extend .table;
	@extend .table-bordered;
}