.p-0 {
  padding: 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.card {
  padding: 45px;
  border-radius: 3px;

  h3 {
    margin-top: 0;
  }
}

.card--red {
  background: rgba(255, 239, 233, 0.6);
}

.card--blue {
  background: rgba(233,242,255,.6);
}

.card--yellow {
  background: rgba(255, 251, 236, 0.6);
}