body {
  padding-top: 60px;
}

// ::selection {
//   background: #2750d8; /* WebKit/Blink Browsers */
//   color: white !important;
// }
// ::-moz-selection {
//   background: #2750d8; /* Gecko Browsers */
// }

.p-0 {
  padding: 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

/* MARGINS */

.mt-0 {
  margin-top: 0 !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.card {
  padding: 45px;
  border-radius: $border-radius;

  h3 {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar .container {
    width: auto;
  }
}

//@media (min-width: 768px) and (max-width: 849px) {
//  .navbar-collapse.collapse {
//    display: none !important;
//  }
//}

@media (max-width: 849px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav>li>a {
    margin-top: 0;
  }
  .navbar-nav {
    float: none!important;
    background: #f8fafa;
  }
  .navbar-nav>li {
    float: none;
  }

  .collapse.in{
    display:block !important;
  }
}