.topics__list__link {
  p, h4 {
    margin-bottom: 0;
  }

  h4:hover {
    color: $primary;
  }
}

.topics__list__item a:hover {
  background: none;
}

.hits-rest {
  margin-top: 15px;
}

.edit-on-github {
  opacity: 0.5;
  transition: all 0.75s cubic-bezier(0.2, 1, 0.4, 1);

  &:hover {
    opacity: 1;
  }
}

.h2--kb-page-title {
  margin-top: 0;
  line-height: 2.5;
}