.topics__list__link {
  p, h4 {
    margin-bottom: 0;
  }

  h4:hover {
    color: $primary;
  }
}

.topics__list__item a:hover {
  background: none;
}

.hits-rest {
  margin-top: 15px;
}

.edit-on-github {
  .btn-secondary:hover {
    background: none;
  }
}

.was-this-useful {
  background: #f8fafa;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 0 25px 0;
  text-align: left;

  h4 {
    margin: 0;
    font-size: 17px;
    display: inline-block;
    font-weight: 600;
  }

  .wtu {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 5px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;

    transition: all 0.25s ease-in-out;

    &:hover {
      background: $primary;
      color: #fff;
      transform: scale(1.05);
    }
  }
}

.h2--kb-page-title {
  margin-top: 0;
  line-height: 2.5;
}

code {
  padding: 0px 5px;
  font-size: 75%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px;
  border: 1px solid #f5ecef;
  display: inline-block;
  line-height: 20px;
  font-family: Source Code Pro,Menlo,monospace;
}

pre { 
  border: none;
  border-radius: $border-radius;
  background: #071010;
  color: #fff;

  code {
    border: none;
  }
}

div.docs img {
  padding: 25px;
  background-color: #f6f7f9;
  border-radius: $border-radius;

  @include img-responsive;
  @include center-block;
}

div.docs table {
  @extend .table;
  @extend .table-bordered;
}