/* PANEL */

.panel-nav {
  color: $mine-shaft;
  a {
    color: $mine-shaft;
    display: block;
    padding: 5px;
    &:hover, &:focus {
      color: $mine-shaft;
      background: $wild-sand;
    }
  }
}
