/* SECTION */

.section {
  position: relative;
  padding: 75px 0;
  @include respond-to(sm) {
    padding: 50px 0;
  }
  @include respond-to(xs) {
    padding: 25px 0;
  }
}

.section--pt-lg {
  @include respond-to(sm-min) {
    padding-top: 90px;
  }
}
.section--pt-sm {
  @include respond-to(sm-min) {
    padding-top: 50px;
  }
}
.section--pt-xs {
  @include respond-to(sm-min) {
    padding-top: 35px;
  }
}
.section--small {
  @include respond-to(xs-min) {
    padding: 40px 0;
  }
}

.section--hero {
  padding: 25px 0 125px;

  h1 {
    color: $black;
    font-weight: 500;
    font-size: 36px;
    margin: 50px 0 25px;
  }

  h3 {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    width: 88%;
    line-height: 1.5;
  }

  p {
    margin-top: 15px;
    font-size: 13px;
    color: #333;
  }

  .btn {
    font-size: 16px;
    margin-top: 25px;
  }
}

.browser-image {
  margin-top: 25px;
  box-shadow: 0 6px 18px -5px rgba(175,175,175,0.50);
}

.section--has-triangle {
  &:after {
    z-index: 20;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 22px 0px 22px;
    border-color: transparent transparent transparent transparent;
    content: '';
    position: absolute;
    bottom: -22px;
    left: 50%;
    margin-left: -22px;
  }
}
.section--has-triangle-gray {
  &:after {
    border-color: $gray transparent transparent transparent;
  }
}
