		<section class="section">
			<div class="container">
				<h2 class="text-center mb-lg h1">Core Features</h2>
				<div class="content-item">
					<div class="content-item-sm">
						<div class="row row--flex hidden-xs">
							<div class="col-sm-4 flex-self-end">
								<img src="/assets/images/temp/browser1.png" class="img-content img--has-shadow img-rounded" alt="">
							</div><!-- col -->

							<div class="col-sm-4">
								<img src="/assets/images/temp/browser2.png" class="img-content img--has-shadow img-rounded" alt="">
							</div><!-- col -->

							<div class="col-sm-4 flex-self-end">
								<img src="/assets/images/temp/browser3.png" class="img-content img--has-shadow img-rounded" alt="">
							</div><!-- col -->
						</div><!-- row -->
					</div><!-- content-item-sm -->

					<div class="row hidden-xs">
						<div class="col-sm-4">
							<h3>Query</h3>
							<ul class="list-bullet">
								<li>Write queries in their natural syntax</li>
								<li>Explore schemas and enjoy live autocomplete</li>
								<li>Create snippets for elements you frequently use</li>
								<li>Schedule queries and get alerts</li>
								<li>Query multiple data sources esily in one query</li>
							</ul><!-- list-bullet -->
						</div><!-- col -->

						<div class="col-sm-4">
							<h3>Visualize</h3>
							<ul class="list-bullet">
								<li>Easily visualize your results in various formats (9 and counting)</li>
								<li>Gather info from multiple sources into thematic dashboards</li>
								<li>Share entire dashboards with other teams or external users</li>
								<li>Auto refresh dashboards to get the real big picture</li>
							</ul><!-- list-bullet -->
						</div><!-- col -->

						<div class="col-sm-4">
							<h3>Share</h3>
							<ul class="list-bullet">
								<li>View, fork and edit others' queries</li>
								<li>Use filters and parameters for 0-code customized data</li>
								<li>Share your insights easily via email, Slack or HipChat</li>
								<li>Embed live datasets that will always be up-to-date in your site</li>
							</ul><!-- list-bullet -->
						</div><!-- col -->
					</div><!-- row -->

					<div class="row visible-xs">
						<div class="col-sm-4">
							<img src="/assets/images/temp/browser1.png" class="img-content img--has-shadow img-rounded" alt="">
							<h3>Query</h3>
							<ul class="list-bullet">
								<li>Write queries in their natural syntax</li>
								<li>Explore schemas and enjoy live autocomplete</li>
								<li>Create snippets for elements you frequently use</li>
								<li>Schedule queries and get alerts</li>
								<li>Query multiple data sources esily in one query</li>
							</ul><!-- list-bullet -->
						</div><!-- col -->

						<div class="col-sm-4">
							<img src="/assets/images/temp/browser2.png" class="img-content img--has-shadow img-rounded" alt="">
							<h3>Query</h3>
							<ul class="list-bullet">
								<li>Easily visualize your results in various formats (9 and counting)</li>
								<li>Gather info from multiple sources into thematic dashboards</li>
								<li>Share entire dashboards with other teams or external users</li>
								<li>Auto refresh dashboards to get the real big picture</li>
							</ul><!-- list-bullet -->
						</div><!-- col -->

						<div class="col-sm-4">
							<img src="/assets/images/temp/browser3.png" class="img-content img--has-shadow img-rounded" alt="">
							<h3>Share</h3>
							<ul class="list-bullet">
								<li>View, fork and edit others' queries</li>
								<li>Use filters and parameters for 0-code customized data</li>
								<li>Share your insights easily via email, Slack or HipChat</li>
								<li>Embed live datasets that will always be up-to-date in your site</li>
							</ul><!-- list-bullet -->
						</div><!-- col -->
					</div><!-- row -->
				</div><!-- content-item -->
			</div><!-- container -->
		</section><!-- section -->
