	<footer class="footer">
		<div class="container">
			<div class="row">
				{% for category in site.data.footer_links %}
				<div class="col-lg-2 col-md-2 col-sm-4 footer__item">
					<h3 class="footer__title">{{category.name}}</h3>
					<ul class="footer__list">
						{% for link in category.links %}
						<li class="footer__list-item">
							<a data-track data-track-location='footer' href="{{link.url}}" class="footer__list-link">{{link.name}}</a>
						</li>
						{% endfor %}
					</ul><!-- footer__list -->
				</div><!-- col -->
				{% endfor %}

				<div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-12 footer__item">
					<h3 class="footer__title">Newsletter</h3>
					<p>Subscribe to get product updates about Redash, including notifications when new releases are available.</p>

					<form class="form-inline footer__form newsletter-form">
					  <div class="form-group">
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_a905176d2294593084d5264e5_53ca028761" tabindex="-1" value=""></div>
					    <input type="email" class="form-control" id="mc-email" name="EMAIL" placeholder="Email address">
					  </div>
					  <button type="submit" class="btn btn-danger btn-small">Subscribe</button>
						<label for="mc-email" class="control-label"></label>
					</form>

					<ul class="footer__list footer__list--social">
						<li class="footer__list-item">
							<a href="https://github.com/getredash" class="footer__list-link">
								<i class="fa fa-github-square" aria-hidden="true"></i>
							</a>
						</li>
						<li class="footer__list-item">
							<a href="https://twitter.com/getredash" class="footer__list-link">
								<i class="fa fa-twitter-square" aria-hidden="true"></i>
							</a>
						</li>
					</ul><!-- footer__list -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</footer>
