		<section class="section section--small section--has-triangle section--has-triangle-gray bg-gray">
			<div class="container">
				<h2 class="text-center mb-xs h1">Get Started with Redash for <span class="font-medium text-danger">Free</span></h2>
				<p class="lead text-center mb-sm">Easy setup. Query and visualize in minutes.</p>
			</div><!-- container -->
		</section><!-- section -->

		<section class="section bg-mutted-soft">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-6">
						<h3 class="mb-xs">Plug and Play</h3>
						<p class="mb-xs">Hosted by Redash</p>
						<p>Don't worry about intallations, hosting and upgrates.<br> All plans include a 30-day free trial. No credit card required.</p>
						<a href="https://app.redash.io/signup" class="btn btn-danger btn-long text-uppercase">Start Trial</a>
						<br>
						<small><a href="/pricing" class="underline">See plans</a></small>
					</div><!-- col -->

					<div class="col-sm-6">
						<h3 class="mb-xs">Open Source</h3>
						<p class="mb-xs">Self hosted</p>
						<p>Maximum flexibility in your own environment.<br> Friendly and permissive license (BSD-3)</p>
						<a href="https://redash.io/help-onpremise/setup/setting-up-redash-instance.html" class="btn btn-danger-ghost btn-long text-uppercase">Setup guide</a>
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- section -->
