<section class="section section--small get-started">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 p-0">
				<h3 class="mb-xs">Try Redash and start your 30 day trial, no credit card required</h3>
			</div>
			<div class="col-lg-4 text-right p-0">
				<a data-track data-track-location='get-started' data-track-event='Clicked Get Started' href="https://app.redash.io/signup" class="btn btn-primary">Get Started</a>
			</div>
		</div>
	</div><!-- container -->
</section><!-- section -->


