<section class="section section--small get-started">
	<div class="container">
		<div class="row get-started--signup">
			<div class="col-sm-10 p-0">
				<h3 class="mb-xs">Try Redash and start your 30-days free trial, no credit card required</h3>
			</div>
			<div class="col-sm-2 p-0">
				<a data-track data-track-location='get-started' data-track-event='Clicked Get Started' href="https://app.redash.io/signup" class="btn btn-primary">Get Started</a>
			</div>
		</div>
	</div><!-- container -->
</section><!-- section -->


