---
title: Supported Databases, APIs and Integrations
layout: default
permalink: /integrations/
---

<section class="section section--pt-lg">
	<div class="container">
		<h1 class="text-center">Query all the data sources you need</h1>
		<h4 class="text-center font-light">Redash supports SQL, NoSQL, Big Data and API data sources - query data from different sources and types to answer complex issues.</h4>
	</div><!-- container -->
</section><!-- section -->

<section class="section">
	<div class="container container-sm">
		<h2>Databases</h2>

		<div class="cards">

			{% for database in site.data_sources %}
			<a href="{{database.url}}" class="card__item">
				<div class="card__item-brand">
					<img src="{{database.logo}}" class="card__item-brand_img" alt="{{database.name}}">
				</div><!-- card__brand -->
				<p class="card__item-title">{{database.name}}</p>
			</a>
			{% endfor %}

		</div><!-- cards -->

	</div><!-- container -->
</section><!-- section -->


<section class="section">
	<div class="container container-sm">
		<h2>Integrations</h2>

		<div class="cards">

			{% for integration in site.integrations %}
			{% if integration.link %}
			<a href="{{integration.url}}" class="card__item">
			{% else %}
			<div class="card__item">
			{% endif %}
				<div class="card__item-brand">
					<img src="{{integration.logo}}" class="card__item-brand_img" alt="{{integration.name}}">
				</div><!-- card__brand -->
				<p class="card__item-title">{{integration.name}}</p>
			{% if integration.link %}
			</a>
			{% else %}
			</div>
			{% endif %}
			{% endfor %}

		</div><!-- cards -->

	</div><!-- container -->
</section><!-- section -->


<section class="section">
	<div class="container container-sm">
		<h2>Partners</h2>

		<div class="cards">

			{% for partner in site.partners %}
			<a href="{{partner.url}}" class="card__item">
				<div class="card__item-brand">
					<img src="{{partner.logo}}" class="card__item-brand_img" alt="{{partner.name}}">
				</div><!-- card__brand -->
				<p class="card__item-title">{{partner.name}}</p>
			</a>
			{% endfor %}

		</div><!-- cards -->

	</div><!-- container -->
</section><!-- section -->

<!--
<section class="section">
	<div class="container">
		<p class="lead text-center">Didn't find what you were looking for?<br> Email us: <a href="mailto:email@email.com" class="underline">email@email.com</a></p>
	</div>
</section>
-->

{% include get_started.html %}
