---
title: Hosted Redash Pricing
layout: default
permalink: /pricing/
---
		<section class="section">
			<div class="container">
				<h1 class="text-center mb-xs">Try Redash for Free - 30 days, unlimited everything</h1>
				<h4 class="text-center font-light">Easy setup. Query and visualize in minutes. No credit card required.</h4>
			</div><!-- container -->
		</section><!-- section -->

		<section class="section bg-mutted">
			<div class="container">
				<div class="prices-holder">

					<div class="prices-holder__item">
						<div class="price__heading">
							<h2 class="price__title">Lite</h2>
						</div><!-- price__heading -->
						<div class="price__footer">
							<a href="#" class="btn btn-primary btn-long">Start Trial</a>
						</div><!-- price__footer -->

						<ul class="price__list">
							<li class="price-holder">
								<p class="price-holder__price">$29<span class="price-holder__price__month">/mo</span></p>
							</li><!-- price-holder -->
							<li>3 Users</li>
							<li>5 Dashboards</li>
							<li>
								50 Saved Queries <span data-container="body" data-toggle="popover" data-placement="top" data-content="Any query that you save and has a URL you can share." class="fa fa-question-circle"></span><br/>
								<small>($0.10 for each additional query)</small>
							</li>
						</ul><!-- price__list -->
					</div><!-- prices-holder__item -->

					<div class="prices-holder__item">
						<div class="price__heading">
							<h2 class="price__title">Startup</h2>
						</div><!-- price__heading -->
						<div class="price__footer">
							<a href="#" class="btn btn-danger btn-long">Start Trial</a>
						</div><!-- price__footer -->

						<ul class="price__list">
							<li class="price-holder">
								<p class="price-holder__price">$99<span class="price-holder__price__month">/mo</span></p>
							</li><!-- price-holder -->
							<li><strong>Unlimited</strong> Users</li>
							<li><strong>Unlimited</strong> Dashboards</li>
							<li>
								100 Saved Queries <span data-container="body" data-toggle="popover" data-placement="top" data-content="Any query that you save and has a URL you can share." class="fa fa-question-circle"></span><br/>
								<small>($0.10 for each additional query)</small>
							</li>
						</ul><!-- price__list -->
					</div><!-- prices-holder__item -->

					<div class="prices-holder__item">
						<div class="price__heading">
							<h2 class="price__title">Business</h2>
						</div><!-- price__heading -->
						<div class="price__footer">
							<a href="#" class="btn btn-primary btn-long">Start Trial</a>
						</div><!-- price__footer -->

						<ul class="price__list">
							<li class="price-holder">
								<p class="price-holder__price">$450<span class="price-holder__price__month">/mo</span></p>
							</li><!-- price-holder -->
							<li><strong>Unlimited</strong> Users</li>
							<li><strong>Unlimited</strong> Dashboards</li>
							<li>
								2000 Saved Queries <span data-container="body" data-toggle="popover" data-placement="top" data-content="Any query that you save and has a URL you can share." class="fa fa-question-circle"></span><br/>
								<small>($0.08 for each additional query)</small>
							</li>
							<li>Group Based Permissions</li>
							<li>Audit Logging</li>
						</ul><!-- price__list -->
					</div><!-- prices-holder__item -->
				</div><!-- prices -->
			</div><!-- container -->
		</section><!-- section -->

		{% include users.html %}

		<section class="section bg-mutted">
			<div class="container">
				<h2 class="text-center mb-lg h1">Pricing FAQ</h2>

				<div class="content-item">
					<h3 class="font-regular">What is included in the 30-day free trial?</h3>
					<p>All the features and capabilities Redash has to offer - collaborative cloud based query editor, visualization tools, auto-updating dashboards, alerts and integrations. The first month has unlimited everything, so you could really try it out. Once the trial is over and you select your plan the volumes will get resticted accordingly.</p>
				</div><!-- content-item -->
				<div class="content-item">
					<h3 class="font-regular">Is my data secure with Redash?</h3>
					<p>
						We're hosted on AWS and follow best practices:

						<ul>
							<li>
							All our servers are in a private network and are not accessible from the Internet, except for the load balancer and a bastion server for SSH (that does not have any credentials on it).
							</li>
							<li>
							HTTPS/SSL for everything.
							</li>
							<li>
							2FA for our internal systems.
							</li>
						</ul>

						If you have any specific concerns, please contact us and we'll be happy to help.
					</p>
				</div><!-- content-item -->
			</div><!-- container -->
		</section><!-- section -->

		{% include core_features.html %}
		{% include get_started.html %}
