---
title: All the tools to unlock your data
description: Use Redash to connect to any data source (Redshift, BigQuery, MySQL, PostgreSQL, MongoDB and many others), query, visualize and share your data to make your company data driven.
layout: default
permalink: /product/
---

<section class="section section-product-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h1 class="m-b-100">All the tools to unlock your data</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<img src="/assets/images/elements/icon-query.png" width="64px">
				<h2 class="m-t-0">Enjoy the power and comfort of Redash's query editor with powerful collaboration</h2>

				<ul class="highlight-ul">
					<li>Write queries in their natural syntax and explore schemas</li>
					<li>Live auto-complete and keyboard shortcuts</li>
					<li>Create snippets for elements you frequently use</li>
					<li>Results are cached for minimal running times</li>
					<li>Schedule auto-update times for results you rely on</li>
					<li>Use query results as data sources to join different databases</li>
				</ul>

				<p><img src="/assets/images/elements/integrations-small.png" width="75%"></p>

				<a data-track data-track-location='product-hero' track-event='Clicked Check Integrations' href="/integrations/" class="btn btn-secondary">Check integrations</a>
			</div>

			<div class="col-md-6">
				<div class="browser-container hidden-xs">
					<img src="/assets/images/elements/browser-header.png">
					<img src="/assets/images/elements/query-editor-focus.png">
				</div>
			</div>
		</div>
	</div><!-- container -->
</section><!-- section -->


<section class="section bg-soft-blue">
	<div class="container">
		<div class="row">
			<div class="col-md-6 push-sm-down">
				<img src="/assets/images/elements/visualizing-data.png" width="100%" class="visualize-dashboards-illustrated">
			</div><!-- col -->

			<div class="col-md-6">
				<img src="/assets/images/elements/icon-dashboard.png" width="64px">
				<h4 class="m-b-0">Visualize as you will &</h4>
				<h2 class="m-t-0">create amazing dashboards</h2>
				<ul class="highlight-ul">
					<li>Easily visualize your results in various formats: chart, cohort, pivot table, boxplot, map, counter, sankey, sunburst and word cloud</li>
					<li>Gather info from multiple sources into thematic dashboards</li>
					<li>Share your data-story with colleagues, other teams or external partners</li>
					<li>Share dashboards on a URL or embed widgets anywhere you need for timely and contextual data</li>
				</ul>

				<p>
					<h4>Visualization types</h4>
					<span class="label label-primary">Charts: Line, Bar, Area, Pie, Scatter</span>
					<span class="label label-primary">Boxplot</span>
					<span class="label label-primary">Cohort</span>
					<span class="label label-primary">Sunburst</span>
					<span class="label label-primary">Word Cloud</span>
					<span class="label label-primary">Sankey</span>
					<span class="label label-primary">Map</span>
					<span class="label label-primary">Counter</span>
					<span class="label label-primary">Pivot Table</span>
				</p>
			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- section -->

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="/assets/images/elements/icon-alerts.png" width="64px">
				<h2>Alerts</h2>
				<p>Set up alerts and get notified on certain events on your data.</p>
			</div>

			<div class="col-md-4">
				<img src="/assets/images/elements/icon-api.png" width="64px">
				<h2>API</h2>
				<p>Access Redash via API and extend its functionality as you like.</p>
			</div>

			<div class="col-md-4">
				<img src="/assets/images/elements/icon-user-management.png" width="64px">
				<h2>User Management</h2>
				<p>SSO, access control and many other great features for enterprise-friendly workflow.</p>
			</div>
		</div>
	</div>
</section>


{% include integrations.html %}


<section class="section section--pt-sm">
	<div class="container">
		<h2 class="text-center mb-md">Democratise access to your data in your organization</h2>
		<div class="row">
			<div class="col-sm-6">
				<div class="card card--yellow">
					<img src="/assets/images/elements/slack.png" width="64px">
					<h4>Bring data to your Slack channel</h4>
					<p>Easily share your queries and visualizations where the conversations happen.</p>
					<a data-track data-track-location='democratize-data' track-event='Clicked Check Slack integration' href="/slack/" class="btn btn-secondary">Slack integration →</a>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="card card--yellow">
					<img src="/assets/images/elements/icon-dashboard.png" width="64px">

					<h4>Share Dashboards</h4>
					<p>Share Dashboard with a single click on a secret URL with your peers or clients.</p>
					<!--<a data-track data-track-location='democratize-data' track-event='Clicked Check Slack integration' href="" class="btn btn-secondary">Check example →</a>-->
					<!--TODO: Fix example for demo-->
				</div>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</section><!-- section -->

<section class="section section--pt-sm">
	<div class="container">
		<h2 class="text-center mb-md">What our customers say...</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="card card--customer">
					<img src="/assets/images/customers/atomized.jpeg" alt="Atomized <3 Redash" class="customer-logo">
					<h4 class="serif"><em>"The ability to query multiple data sources from a single window in a read-only environment is a huge plus for our team on a day to day basis..."</em></h4>
					<p>
						by Jon Lee, CTO at <a href="https://www.atomized.com/">Atomized</a>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card--customer">
					<img src="/assets/images/customers/findhotel.png" alt="FindHotel <3 Redash" class="customer-logo">
					<h4 class="serif"><em>"At FindHotel every important decision is based on data, and Redash has quickly become one of the preferred tools to share a data story across the company..."</em></h4>
					<p>
						by German Gomez-Herrero, CTO at <a href="https://www.findhotel.net/">FindHotel</a>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card--customer">
						<img src="/assets/images/customers/data-miner.png" alt="DataMiner <3 Redash" class="customer-logo">
					<h4 class="serif"><em>"Redash is as essential as email to my company. We love data but accessing the data is a pain without Redash. Any company I go to, I get them hooked on Redash. It's an easy sell :)"</em></h4>
					<p>
						by Ben Dehghan, Co-Founder of <a href="https://data-miner.io/">Data Miner</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<a data-track data-track-location='product-testimonials' track-event='Clicked Check Customers Say' href="/customers/" class="btn btn-secondary">Read Customer Stories</a>
		</div>
	</div>
</section>

{% include get_started.html %}
